extends ./layout.jade

block content
	.portfolio-selector-container
		.gm-select
			select(id='portfolio-selector')
				for portfolio in portfolios
					if (portfolio.id === currentPortfolioId)
						option(value=portfolio.id, selected='selected')= portfolio.name
					else 
						option(value=portfolio.id)= portfolio.name
	.portfolio-videos
		- var currentPortfolio = portfolios[currentPortfolioId];
		for video in currentPortfolio.videos
			- var id = video.uri.split('/')[2];
			//- grab the largest available image
			- var image_uri = video.pictures.sizes.pop().link;
			a.video-thumbnail(href=video.uri+'?portfolio='+currentPortfolioId)
				div.video-poster(video-id=id, style='background-image: url('+image_uri+')')
					img(src=image_uri)
				p.video-name(href='http://vimeo.com/'+id)= video.name
	script.
		var portfolioSelector_el = document.getElementById('portfolio-selector');
		portfolioSelector_el.addEventListener('change', function(evt) {
			window.location='/?portfolio='+evt.target.value;
		}, false)