block variables
doctype html
html
  head
    meta(charset='utf-8')
    link(rel='icon', href='images/favicon.png?v=#{deployVersion}', type='image/x-icon')
    link(rel='shortcut icon', href='images/favicon.png?v=#{deployVersion}', type='image/x-icon')
    meta(name='description', content='Global Mechanic is a design studio. We experiment. We create. We make beautiful things. We affect the way people think and see the world.')
    meta(name='keywords', content='film, art, commercial, animation, branding')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title Global Mechanic | Global Mechanic
    link(rel='stylesheet', type='text/css', href='//cloud.typography.com/712234/797102/css/fonts.css')
    link(rel='stylesheet', href='/styles/main.css?v=#{deployVersion}')
    script(type='text/javascript', src='/scripts/mousetrap.js?v=#{deployVersion}')
  body(class=(body_class))
    .header
      .header-content
        a(href="/")
          h1.logo--header Global Mechanic
        h2.tagline Making unusual &amp; beautiful things since 2000&nbsp;
          //- a(href="/about") more&hellip;
    .content
      block content   
    .footer
      div.footer-content(itemscope='', itemtype='http://schema.org/LocalBusiness')
        .address
          div.logo--footer(itemprop='name') Global Mechanic
          div(itemtype='http://schema.org/PostalAddress', itemscope='', itemprop='address')
            div(itemprop='streetAddress') 300-341 Water Street
            div 3rd Floor
            div
              span(itemprop='addressLocality') Vancouver &nbsp;
              span(itemprop='addressRegion') BC &nbsp;
              
            div
              span(itemprop='addressCountry') Canada &nbsp;
              span(itemprop='postalCode') V6B 1B8
        .contact
          div(itemprop='telephone') +1 (604) 733 7475 
          div(itemprop='email')
            a(href='mailto:studio@globalmechanic.com') studio@globalmechanic.com
          div Liz Laine Reps | USA +1 (312) 329 1111
          div Hestyreps | Canada +1 (416) 482 0411
        .social
          a(href='https://instagram.com/brucewgalcock',target='_blank').social-link.social-link--instagram Instagram
          a(href='https://twitter.com/globalmechanic',target='_blank').social-link.social-link--twitter Twitter
          a(href='https://vimeo.com/globalmechanicmedia',target='_blank').social-link.social-link--vimeo Vimeo
          a(href='https://medium.com/@brucewgalcock',target='_blank').social-link.social-link--medium Medium
          //- a(href='https://www.pinterest.com/brucealcock7',target='_blank').social-link.social-link--pinterest Pinterest
        .other-companies
          p We're part of a group of companies:
          div 
            a(href='http://ishuman.co').human-logo HUMAN
            a(href='http://quiniwine.com').quini-logo Quini
    script(type='text/javascript').
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-5743826-1', 'globalmechanic.com');
      ga('send', 'pageview');
