extends layout

block content
	.portfolio-selector-container
		h1= portfolio.name
		p= portfolio.description
	.portfolio-videos
		for video in portfolio.videos
			- var id = video.uri.split('/')[2];
			//- grab the largest available image
			- var image_uri = video.pictures.sizes[video.pictures.sizes.length-1].link;
			a.video-thumbnail(href='/private/portfolio/'+portfolio.id+'/videos/'+id)
				div.video-poster(video-id=id, style='background-image: url('+image_uri+')')
					img(src=image_uri)
				p.video-name(href='http://vimeo.com/'+id)= video.name